/* Set basic styles for body to align content centrally and apply the Inter font */
.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Full viewport height */
  font-family: 'Inter', sans-serif; /* Ensure 'Inter' is loaded, otherwise fallback to sans-serif */
  margin: 0; /* Reset default margin */
  padding: 0; /* Reset default padding */
  background-color: #000; /* Optional: Set a background color */
}

/* Style for containers that hold content */
.innerContainer {
  max-width: 600px;
  width: 100%; /* Responsive width */
  background-color: #100f0f; /* Dark background for contrast */
  padding: 20px;
  border-radius: 12px;
  gap: 25px;
  border: 1px solid #333;
  color: white; /* Text color for readability */
  display: flex;
  flex-direction: column;
}

/* Flex container for input fields and labels */
.inputContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Styling labels with bold font and consistent spacing */
.labels {
  font-weight: bold;
  margin-bottom: 20px; /* Space below labels */
  font-size: 20px;
}

/* Universal style for input fields and buttons */
.inputField,
.selectField,
.button {
  width: 100%; /* Full width */
  padding: 12px;
  font-size: 16px; /* Readable font size */
  background-color: #333; /* Dark grey background */
  color: white; /* White text */
  border: none;
  border-radius: 6px;
  margin-bottom: 10px;
  box-sizing: border-box; /* Include padding and border in the element's width and height */
}

/* Additional styling for focus states to enhance accessibility */
.inputField:focus,
.selectField:focus {
  outline: none;
  box-shadow: 0 0 0 2px #cccccc; /* Highlight focus with a light gray border */
}

/* Specific styling for buttons */
.button {
  background-color: white;
  color: black; /* Text color for contrast */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.button:disabled {
  background-color: #444; /* Darker grey indicating non-interactivity */
  color: #ccc; /* Light grey text to show disabled state */
  cursor: not-allowed;
}

.button:hover {
  background-color: rgba(72, 72, 72, 0.2); /* Slightly lighter grey on hover for visibility */
}

/* Custom style for select fields with a dropdown arrow */
.selectField {
  background: url('data:image/svg+xml;utf8,<svg ...></svg>') no-repeat right 10px center / 16px 16px #333;
  -webkit-appearance: none; /* Remove default styling for consistency across browsers */
  -moz-appearance: none;
  appearance: none;
}

/* Responsive design adjustments for smaller screens */
@media (max-width: 640px) {
  .innerContainer {
    width: 90%; /* Slightly smaller width on smaller screens for padding */
    padding: 10px; /* Less padding to accommodate smaller screens */
  }
}
