/* AppLayout.module.css */
.appLayout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.appHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  background-color: var(--color-ui-950);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.appContent {
  flex-grow: 1;
  padding: 6px;
}

.appFooter {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 10px;
  background-color: var(--color-ui-800);
  color: var(--color-ui-50);
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}