/* AppLayout.module.css */

/* Define common values as CSS variables */
:root {
  --spacing-xs: 8px;
  --spacing-md: 12px;
  --spacing-lg: 16px;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-md);
}

.logo {
  height: 84px;
}

.main {
  flex-grow: 1;
  padding: var(--spacing-xs);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-xs) var(--spacing-md);
}
