.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Use viewport height for full height */
  font-family: 'Inter', sans-serif; /* Fallback to sans-serif */
}

.innerContainer {
  max-width: 600px; /* Use max-width for better responsiveness */
  width: 100%;
  background-color: #100f0f;
  padding: 20px;
  border-radius: 12px;
  gap: 25px;
  border: 1px solid #333;
  color: white;
  display: flex;
  flex-direction: column;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.labels {
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 20px;
}

.inputField,
.selectField,
.button {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 6px;
  margin-bottom: 10px;
  box-sizing: border-box; /* Add this to include padding and border in width */
}

.inputField {
  max-width: 600px; /* Adjust to the widest input */
}

.selectField {
  max-width: 600px; /* Adjust to the widest input */
}

.inputField:focus,
.selectField:focus {
  outline: none;
  box-shadow: 0 0 0 2px #cccccc; /* Or any color that fits your design */
}

.button {
  max-width: 600px; /* Adjust to the widest input */
  padding: 12px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.button:disabled {
  background-color: rgb(66, 69, 88); /* Make sure the button is greyed out */
  cursor: not-allowed; /* Change cursor on hover */
}

.button:hover {
  background-color: rgba(72, 72, 72, 0.2); /* Darker shade of dark grey for hover state */
}

/* Add a custom dropdown arrow for select fields */
.selectField {
  background: url('data:image/svg+xml;utf8,<svg ...></svg>') no-repeat right 10px center / 16px 16px #333;
  -webkit-appearance: none; /* Removes default styling on select elements */
  -moz-appearance: none;
  appearance: none;
}

/* Add any additional responsive styles if necessary */
@media (max-width: 640px) {
  .innerContainer {
    width: 90%; /* Adjust width for smaller screens */
  }
}
