.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-family: 'Segoe UI';
}

.innerContainer {
  width: 600px;
  background-color: #121926;
  padding: 20px;
  border-radius: 12px;
  gap: 25px;
  border: 1px solid #566372;
  color: white;
  display: flex;
  flex-direction: column;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.labels {
  font-weight: bold;
  margin-bottom: 15px;
  font-size: 20px;
}

.inputField,
.selectField,
.button {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 12px;
  font-size: 16px;
  background-color: #202939;
  color: white;
  border: none;
  border-radius: 8px;
  margin-bottom: 10px;
}

.inputField {
  max-width: 515px;
}

.selectField {
  max-width: 550px;
  background: url('data:image/svg+xml;utf8,<svg ...></svg>') no-repeat right 10px center / 16px 16px #202939;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.inputField:focus,
.selectField:focus {
  outline: none;
  box-shadow: 0 0 0 2px #eef2f6;
}

.button {
  max-width: 550px;
  padding: 10px;
  background-color: black;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:disabled {
  background-color: rgb(154, 164, 178);
  cursor: not-allowed;
}

.button:hover {
  background-color: #4b5565;
}

@media (max-width: 640px) {
  .innerContainer {
    width: 90%;
  }
}
